# Week 4: Tuple, In Operator, For (Nestead)

Instructor: **Majid Sohrabi**

# 1. Tuple

There is another sequence type that is very similar to lists. The major difference is that we cannot change it after we've created one. Such sequence is called a **tuple**.

We can create one using usual brackets instead of square ones.

In [3]:
# Create an empty tuple
tuple1 = tuple()
type(tuple1)

tuple

In [4]:
tuple_1 = "Oleg",
type(tuple_1)

tuple

In [5]:
tuple_2 = "Oleg", "Maria", "Eva"
tuple_2

('Oleg', 'Maria', 'Eva')

In [6]:
tuple_3 = ("Oleg", "Maria", "Eva")
tuple_3

('Oleg', 'Maria', 'Eva')

In [7]:
# Don't forget about the string
temp = "Oleg"
type(temp)

str

In [8]:
a = (1, 2, 3, 4, 5, 6)
print(type(a))

<class 'tuple'>

## 1.1 Mutable and immutable data types

It was said that we cannot change a tuple. Let's find out what does it mean.

Let's try to change an element withing a list.

In [9]:
shopping_list = ['bread', 'milk', 'ice cream', 'cheese']

shopping_list[2] = 'chocolate'

print(shopping_list)

['bread', 'milk', 'chocolate', 'cheese']

In [10]:
shopping_list.append(4)
print(shopping_list)

['bread', 'milk', 'chocolate', 'cheese', 4]

Now you see that we can assign a new element by a list index. Thus list is a **mutable data type**.

But we cannot do the same with a tuple.

In [11]:
shopping_tuple = ('bread', 'milk', 'ice cream', 'cheese')

shopping_tuple[2] = 'chocolate'

TypeError: 'tuple' object does not support item assignment

In [12]:
shopping_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

Tuples are **immutable**. Another data type that is also immutable is string.

In [13]:
# String is also immutable
s = 'bread'
s[0] = 'B'

TypeError: 'str' object does not support item assignment

## 1.2 Deleting Tuple

In [14]:
del shopping_tuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [15]:
del shopping_tuple # Deleting entire object is possible

In [16]:
shopping_tuple

NameError: name 'shopping_tuple' is not defined

In [17]:
shopping_tuple = ('bread', 'milk', 'ice cream', 'cheese')

If we really want to change an element inside the tuple we can always convert it to a list, change element, and convert it back. This situation is rather exotic, but let's check how we can do something like this.

`list()` function can transform a tuple to a list, and `tuple()` vice versa. It's similar to the convertion of a string `'2'` to an integer via `int()` function.

Later we will see that we can use `tuple()` and `list()` to convert some data types into tuples and lists as well.

In [18]:
shopping_tuple = ('bread', 'milk', 'ice cream', 'cheese')

shopping_list = list(shopping_tuple) # converting tuple to list

shopping_list[0] = 'pelmeni'  # replacing list's element

shopping_tuple = tuple(shopping_list)   # converting list with a replaced element back to tuple

print(shopping_tuple)

('pelmeni', 'milk', 'ice cream', 'cheese')

So, today we have learned about **sequences**. We know two sequence-types: **list** and **tuple**. **String** is also a sequence-like data type.

Also we've learned that data types can be **mutable** or **immutable**. So far we know the only **mutable** data type, it is list.

## 1.3 Unpacking: printing a sequence

If we want to print a list without square brackets or a tuple without round ones we can use `*` operator within the `print()` function.

In [19]:
shopping_list = ['bread', 'milk', 'ice cream', 'cheese']
print(*shopping_list)

bread milk ice cream cheese

Star operator before `shopping_list` makes Python see it not like a list but as several indepenedent elements. Something like `print(shopping_list[0], shopping_list[1], shopping_list[2], shopping_list[3])`.

This operation is called *unpacking*. Later we will see that we can use unpacking in some other situations as well.

In [20]:
shopping_list = ['bread', 'milk', 'ice cream', 'cheese']

# printing our list nicely without unpacking
print(shopping_list[0], shopping_list[1], shopping_list[2], shopping_list[3], sep=', ')

# the same but shorter
print(*shopping_list, sep=', ')

bread, milk, ice cream, cheese
bread, milk, ice cream, cheese

Please note that such syntax will not work inside an f-string.

In [21]:
print(f'Our shopping list {*shopping_list}')

SyntaxError: f-string: cannot use starred expression here (3481984258.py, line 1)

Same thing works with tuples as well.

In [22]:
students = ('Asya', 'Masha', 'Zeinab')
print(*students, sep='; ') # print our students separated by `;`

Asya; Masha; Zeinab

In [23]:
# Unpacking the string by tuple

tuple("Linguistics")

('L', 'i', 'n', 'g', 'u', 'i', 's', 't', 'i', 'c', 's')

In [33]:
# How to unpack elements from a tuple?
my_tuple = (1, 2, 3, 4, 5)

a, b, c, d, e = my_tuple

print(a, b, c, d, e)

1 2 3 4 5

In [25]:
# What if I don't know how many variables are inside a tuple
# But we need first and the last elements

a, *b, c = my_tuple

print(a, b, c)
print(type(b))

1 [2, 3, 4] 5
<class 'list'>

## 1.4 Concatenation of lists and tuples

Remember that Python allows us to glue strings together. In a smart way it is called *concatenation*.

In [34]:
a = 'Cat'
b = 'Dog'
print(f'Just a feline canine little - {a+b}')

Just a feline canine little - CatDog

In the same way we can concatenate two lists. Let's glue together two shopping lists.

In [35]:
# groceries
shopping_list_1 = ['bread', 'milk', 'pelmeni']
# household goods
shopping_list_2 = ['washing powder', 'soap']

# all purchases
shopping_list_all = shopping_list_1 + shopping_list_2

print(*shopping_list_all, sep=', ')

bread, milk, pelmeni, washing powder, soap

The same would work with tuples.

In [36]:
# groceries
shopping_tuple_1 = ('bread', 'milk', 'pelmeni')
# household goods
shopping_tuple_2 = ('washing powder', 'soap')

# all purchases
all_ = shopping_tuple_1 + shopping_tuple_2
print(*all_, sep=', ')

bread, milk, pelmeni, washing powder, soap

In [37]:
# Another example
my_tuple1 = 1, 2, 3, 4

my_tuple2 = ("Oleg", "Maria", "Olga", "Eva")

result = my_tuple1 + my_tuple2

print(result)

print(type(result))

(1, 2, 3, 4, 'Oleg', 'Maria', 'Olga', 'Eva')
<class 'tuple'>

## 1.5 Nested Tuple in Tuple

In [58]:
print(my_tuple1)

print(my_tuple2)

my_tuple3 = (my_tuple1, my_tuple2)
print(f"\n{my_tuple3}")

print(type(my_tuple3))

(1, 2, 3, 4)
('Oleg', 'Maria', 'Olga', 'Eva')

((1, 2, 3, 4), ('Oleg', 'Maria', 'Olga', 'Eva'))
<class 'tuple'>

## 1.6 Nested Tuple in List

In [50]:
my_list = [(1, 2), (3, 4)]

print(my_list)

[(1, 2), (3, 4)]

In [55]:
# For list it's possible to add element

my_list.append(("Oleg", "Maria"))

print(my_list)

[(1, 2), (3, 4), ('Oleg', 'Maria')]

## 1.7 Nested Lists in Tuples

In [64]:
my_tuple = ([1, 2, 3], ['a', 'b', 'c'])
print(my_tuple)

([1, 2, 3], ['a', 'b', 'c'])

In [65]:
# We can't change the tuple data
# But what about the list withing the tuple??!!

my_tuple[0].append(5)

print(my_tuple)

([1, 2, 3, 5], ['a', 'b', 'c'])

In [66]:
# What about removing element??!!
my_tuple[0].remove(2)

print(my_tuple)

([1, 3, 5], ['a', 'b', 'c'])

In [67]:
my_tuple.append([9, 8, 7])
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
# How to repeat an element in a tuple??

temp = ("Linguistics",) * 4
print(temp)
print(type(temp))

('Linguistics', 'Linguistics', 'Linguistics', 'Linguistics')
<class 'tuple'>

In [70]:
temp = ("Linguistics",)

print(temp*6)

('Linguistics', 'Linguistics', 'Linguistics', 'Linguistics', 'Linguistics', 'Linguistics')

In [71]:
print(temp)

('Linguistics',)

## 1.8 Tuple Indexing

In [72]:
tup1 = () # Empty tuple

tup2 = (10, 30, 60) # tuple of integers numbers

tup3 = (10.77, 30.66, 60.89) # tuple of float numbers

tup4 = ('one', 'two' , "three")# tuple of strings

tup5 = ('Asif', 25 ,(50, 100), (150, 90)) # Nested tuples

tup6 = (100, 'Asif', 17.765)

tup7 = ('Asif', 25 ,[50, 100], [150, 90] , {'John' , 'David'} , (99, 22, 33))

len(tup7) #Length of list

6

In [73]:
tup2[0] # Retreive first element of the tuple

10

In [74]:
tup4[0][0] # Nested indexing

'o'

In [75]:
tup4[-1] # Last item of the tuple

'three'

## 1.9 Tuple Count

In [76]:
mytuple1 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [77]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [78]:
mytuple1.count('four') # Occurence of item 'four' in the tuple

1

In [79]:
len(mytuple1)

8

### Exercise

Given two sorted arrays `nums1` and `nums2` of size `m` and `n` respectively, return the median of the two sorted arrays.

- Example 1:

  > Input: nums1 = [1,3], nums2 = [2] 
  
  > Output: 2.00000
  
  > Explanation: merged array = [1,2,3] and median is 2.
  
- Example 2:

  > Input: nums1 = [1,2], nums2 = [3,4]
  
  > Output: 2.50000
  
  > Explanation: merged array = [1,2,3,4] and median is (2 + 3) / 2 = 2.5.

In [ ]:
<YOUR CODE>

### Exercise

**Step 1**: Create a tuple of numners from 2 to 8

`
tp1 = 2  3  4  5  6  7  8
`

**Step 2**: Create `another` tuple by adding an element to *tp1*.

`
tp2 = 2  3  4  5  6  7  8  0
`

**Step 3**: Create `another` tuple by adding the reverse of the *tp1* to *tp2*.

`
tp3 = 2  3  4  5  6  7  8  0  8  7  6  5  4  3  2
`

In [80]:
tp1= (2,3,4,5,6,7,8)
print(tp1)

(2, 3, 4, 5, 6, 7, 8)

In [86]:
tp2 = tp1 + (0,)
print(tp2)

(2, 3, 4, 5, 6, 7, 8, 0)

In [87]:
tp3 = tp1 + tp2[::-1]
print(tp3)

(2, 3, 4, 5, 6, 7, 8, 0, 8, 7, 6, 5, 4, 3, 2)

## 2. `In` operator

In Python we can check if something belongs to a sequence via special `in` operator. Later we will see that `in` works not only with sequences.

In [88]:
backpack = ['wallet', 'headphones', 'ID', 'laptop', 'book']
print('headphones' in backpack) # checking if string `headphones` belongs to a list `backpack`?

True

`In` operator returns a boolean value depending on whether our condition is True or not. Here we are checking a condition that *something belongs to a list*.

Also we can use `in` with a logical `not` to check a condition that *something does not belong to a list*.

In [89]:
backpack = ['wallet', 'headphones', 'ID', 'laptop', 'book']
print('headphones' not in backpack)   # gives us False, 'headpones' belongs to `backpack`
print('trasportation card' not in backpack)  # gives us False, 'transportation card' is not in `backpack`

False
True

Since `in` opeator gives us a logical variable, we can use it within an `if-statement`.

A statement `if ... in` could be written like this:

    if <item to check> in <list, tuple or string>:
        <instructions if an item belongs to a sequence>

Let's check an example. On our way to the university let's listen to music if we've packed headphones or read the book if we have not.

In [90]:
backpack = ['wallet', 'headphones', 'ID', 'laptop', 'book']

if 'headphones' in backpack:
    print('Listen to music')
else:
    print('Read a book')

Listen to music

A statement `if ... not in` works vice versa:

    if <item to check> not in <list, tuple or string>:
        <instructions if an item does not belong to a sequence>

Remember our example with breakfast when we've been talking about `if statements`. Let's change it to use with lists. Now we will not ask for a number of eggs, but will check if there are eggs in our list.

In [91]:
fridge = input('What do we have in the fridge?').split()
print(fridge) # printing the things that we have

if "eggs" not in fridge:
    print('Going to the cafe')
else:
    print('Cooking at home')

What do we have in the fridge?eggs milk bread
['eggs', 'milk', 'bread']
Cooking at home

The same statements would work with tuples and strings. Let's check that an inputted word contains a particular letter.

In [92]:
word = input('Input an word: ')
letter = input('Input a letter: ')
if letter not in word: # if a letter does not belong to a word
    print(f'"{word}" does not contain "{letter}" letter')
else:
    print(f'"{word}" contains "{letter}" letter')

Input an word: Oleg
Input a letter: O
"Oleg" contains "O" letter

Let's check that it works for tuples as well. Our program will check if the item is in the shopping list or not.

In [93]:
shopping_tuple = ('bread', 'milk', 'pelmeni')
thing = input('What to check? ')

if thing in shopping_tuple: # if list contains this element
    print('Didn\'t forget!')
else:
    print('Forgot :(')

What to check? bread
Didn't forget!

Let's make it more complex. Now we will check several items until the user inputs an 'end' string.

In [94]:
shopping_tuple = ('bread', 'milk', 'pelmeni')
thing = input('What to check? ')
while thing != 'end':  # our criteria to exit the loop
    if thing in shopping_tuple:
        print('Didn\'t forget!')
    else:
        print('Forgot :(')
    thing = input('What to check? ')

What to check? bread
Didn't forget!
What to check? milk
Didn't forget!
What to check? cola
Forgot :(
What to check? end

## 3. `For` loop

Let's go back to our shopping list.

In [95]:
shopping_list = ['bread', 'milk', 'pelmeni']
print('We need to buy:', *shopping_list) # Prints the elements of the list.

We need to buy: bread milk pelmeni

Ok, via `*` operator we can print elements in our list. But what if we want to perform the same instruction to all elements within a list? E.g. to print a string 'We need to buy <item>' for each item in our shopping list.

In [96]:
print(f'We need to buy: {shopping_list[0]}')
print(f'We need to buy: {shopping_list[1]}')
print(f'We need to buy: {shopping_list[2]}')

We need to buy: bread
We need to buy: milk
We need to buy: pelmeni

Even with three elements it looks like too much of work. But what if we have hundreds of elements?

Like it is often a case in Python, there is a tool which will help us to deal with a situation like this. We can use `for` loop to go through list's elements:

    for <item> in <list, tuple or string>:
        <instructions to perform on item>

In [97]:
shopping_list = ['bread', 'milk', 'pelmeni']

for thing in shopping_list:
# go through `shopping_list` and copy each object to a `thing` variable:
    print(thing) # print contents of `thing` variable

bread
milk
pelmeni

`for` loop creates a variable (`thing` in our example). This variable may be called anything. This variable is created withing a loop but exists outside it as well. In our case `thing` will contain the last item that was assigned to it. Let's check it!

In [98]:
print(thing) # checking what is inside `thing` variable

pelmeni

Don't be surprised if you see two `for` loops in a row where the variable is called the same. Usually it is a technical variable and there is no much use for it outside of a loop.

Of course we can do something more interesting then just printing things. Let's enumerate our shopping list.

In [99]:
shopping_list = ['bread', 'milk', 'pelmeni']

number = 1 # creating a variable with an index
for thing in shopping_list:
    print(number, thing) # printing an index and an item
    number += 1 # updating an index by 1

1 bread
2 milk
3 pelmeni

`For` loop works not only with lists. We can also use it for strings and tuples. And later we will learn about other data types where it can be also applied.

##  3.1 Loop through a tuple

In [101]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [102]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [103]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [104]:
for ind, val in enumerate(mytuple):
    print(f'index is: {ind}')
    print(f'value is: {val}\n')

index is: 0
value is: one

index is: 1
value is: two

index is: 2
value is: three

index is: 3
value is: four

index is: 4
value is: five

index is: 5
value is: six

index is: 6
value is: seven

index is: 7
value is: eight

## 3.2 Loop through a list

In [105]:
mylist = ['one', 'two', 'three']
mylist

['one', 'two', 'three']

In [106]:
for i in mylist:
    print(i)

one
two
three

In [107]:
for i in enumerate(mylist):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')

In [108]:
for ind, val in enumerate(mylist):
    print(f'index is: {ind}')
    print(f'value is: {val}\n')

index is: 0
value is: one

index is: 1
value is: two

index is: 2
value is: three

## 3.3 Loop through a string

In [109]:
mystring = 'Linguistics'
mystring

'Linguistics'

In [110]:
for i in mystring:
    print(i)

L
i
n
g
u
i
s
t
i
c
s

In [111]:
for i in enumerate(mystring):
    print(i)

(0, 'L')
(1, 'i')
(2, 'n')
(3, 'g')
(4, 'u')
(5, 'i')
(6, 's')
(7, 't')
(8, 'i')
(9, 'c')
(10, 's')

In [112]:
for ind, val in enumerate(mystring):
    print(f'index is: {ind}')
    print(f'value is: {val}\n')

index is: 0
value is: L

index is: 1
value is: i

index is: 2
value is: n

index is: 3
value is: g

index is: 4
value is: u

index is: 5
value is: i

index is: 6
value is: s

index is: 7
value is: t

index is: 8
value is: i

index is: 9
value is: c

index is: 10
value is: s

# 4. Nested `for` loops

Sometimes we need to go through two lists simultaneously. E.g. let's print a part of a multiplication table for number 2, 3 and 4.

* We will first go through the list of [2, 3, 4]
* For each of the number in our list we will multiply it by numbers from 1 to 9.

In [123]:
for a in [2,3,4]:
    print(a)

2
3
4

In [122]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [115]:
for a in [2,3,4]:
    for b in range(1,10):
        print(f'{a}*{b} = {a*b}')
        
    print('-'*10) # printing an end-line for the multiplications for the given number
    
    break   # Let's exit a loop for now after we finish multiplying by 2

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
----------

So, what has happened? Integer 2 was assigned to a variable `a`. Then we've started the second loop, where we had multiplied contents of `a` variable by all numbers in an interval from 1 to 9. Then we've printed ten dashes to indicate that we had finished with that number.

If we were not to exit our loop via break, it would do the same for 3 and then for 4.

In [116]:
for a in [2,3,4]:
    for b in range(1,10):
        print(f'{a}*{b} = {a*b}')
    print('-'*10)

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
----------
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
----------
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
----------

Nested loops might be useful not only in problems with numbers. Let's print a party invitation for several students.

In [117]:
students = ('Anna', 'Dima', 'Shushanik', 'Yu Na') # tuple of our students
date = input('Date: ')
time = input('Time: ')

for name in students: # for each student print the following invintation
    print(f'\n\nHi, {name}!\nYou are invited to a party on {date} at {time}. Waiting for you!')

Date: Thursday
Time: 13.00 am


Hi, Anna!
You are invited to a party on Thursday at 13.00 am. Waiting for you!


Hi, Dima!
You are invited to a party on Thursday at 13.00 am. Waiting for you!


Hi, Shushanik!
You are invited to a party on Thursday at 13.00 am. Waiting for you!


Hi, Yu Na!
You are invited to a party on Thursday at 13.00 am. Waiting for you!

Now imagine that we want print that invitation in Russian as well. Let's create a tuple with two invitation texts.

In [118]:
students = ('Anna', 'Dima', 'Shushanik', 'Yu Na') # tuple of our students
date = input('Date: ')
time = input('Time: ')

for name in students:
    texts = (f'\n\nHi, {name}!\nYou are invited to a party on {date} at {time}. Waiting for you!',
             f'\n, {name}!\n  {date}  {time}.  !')
    for text in texts: # for each student print each invitation
        print(text)

Date: Thursday
Time: 13.00 am


Hi, Anna!
You are invited to a party on Thursday at 13.00 am. Waiting for you!

, Anna!
  Thursday  13.00 am.  !


Hi, Dima!
You are invited to a party on Thursday at 13.00 am. Waiting for you!

, Dima!
  Thursday  13.00 am.  !


Hi, Shushanik!
You are invited to a party on Thursday at 13.00 am. Waiting for you!

, Shushanik!
  Thursday  13.00 am.  !


Hi, Yu Na!
You are invited to a party on Thursday at 13.00 am. Waiting for you!

, Yu Na!
  Thursday  13.00 am.  !

Sometimes there are also situations when we need `for in range()` to connect three sequences. Imagine that we want to print a receipt in a book store. We have a list of prices for the purchased books, titles for those books and, finally, quantities.

In [119]:
prices = [422, 382, 3544]

goods = ['Harry Potter and FOR Loop', 'X-Men against Doctor Tuple', 'Learning Python. Vol.1']

amount = [1, 1, 3]

for i in range(len(goods)):
    
    print(f"Book name: {goods[i]}\nAmount x price: {amount[i]} x {prices[i]}")
    print(f"Total: {amount[i] * prices[i]} \n")

Book name: Harry Potter and FOR Loop
Amount x price: 1 x 422
Total: 422

Book name: X-Men against Doctor Tuple
Amount x price: 1 x 382
Total: 382

Book name: Learning Python. Vol.1
Amount x price: 3 x 3544
Total: 10632

## 4.1 Break and continue in loop

In [120]:
my_listI = [2, 5, 6, 7, 4, 3]

for item in my_listI:
    if (item == 6):
        break
    print(item)

2
5

In [121]:
my_listI = [2, 5, 6, 7, 4, 3]

for item in my_listI:
    if (item == 6):
        continue
    print(item)

2
5
7
4
3

In [ ]:
# From which loop we are breaking or continuing the loop?
<YOUR CODE>