# Week 1: Intro to Python Programming

Instructor: **Majid Sohrabi**

<img src="https://media.tenor.com/y2JXkY1pXkwAAAAC/cat-computer.gif"> 


## 1. How to use notebooks: text cells

- Notebooks are set of **cells**

- Each cell contains either text or code

- To create new cell:

  > Press `+ Code` / `+ Text` button (google colab)

  > At the top of the page go to `Insert` - `Code cell` / `Text cell` (google colab)

  > Hover over the middle of the page between the cells
  
  > Use shortcut `B` to create a cell bellow the current cell
  
  > Use shortcut `A` to create a cell on top of the current cell

- Double click on the text cell to edit

## Task 1.1

- Create a new text cell below this one

- Add 3 bullet point describing youself

- Add a picture of you favourite meme

# 2. How to use notebooks: code cells




- To run the cell

> Press `Ctrl + Enter` / `cmd + Enter` / `shift + Enter`

OR

> Press `Run cell` sign at the left of the cell (google collab)


- If your code was executed successfully:

> `In []` to the left of the cell contains a number, not a `*` sign.

> You do not see error messages below the code cell

In [ ]:
print(2 + 2)
print(2, 3, 4)



- What should I do if it all hung, nothing works, aaaaaaa

<img src="https://img.freepik.com/premium-vector/cute-monkey-crying-with-tears_547439-613.jpg?w=1480" width="300" height="240"> 

  > There is a special button `â– ` *interrupt execution* that will appear instead of `run the cell`

OR

  > Go to `Runtime` - `Interrupt execution`


  > If that does not help, go to `Runtime` - `Resturt runtime...`. It will restart the whole notebook (but you will have to run all the cells from the very beggining).

## Task 2.1

The cell below will run inifinitely long.
* Run the cell
* Panic a bit
* Interrupt the execution

In [ ]:
while True:
    print('stop me')

# 3 Very basics

## Caculator

Python can do with numbers everything you favourite calculator can, e.g.
  - `2*2` or `2/2`
  - `2+2` or `2-2`
  - `2**2` raise to the power
  - `%` remainder of the division
  - `//` the whole part of the division

## Print function
We will use a lot of python `functions` --- peice of code, that was already written for you and you can use it for your own puposes without knowing what happens inside.

For example, function `print` helps you to display any infomation you need:
> `print(<smth I want to print>, <something else I want to print>, ...)`


Things in `< >` are called function `arguments` or `inputs`.

## Comments
If you want to comment your code (aka explain what is happenning for future generations) without adding a separate text cell. You can use `#`.

> `# comment in the code`

## Tasks 3.1

> Multiply 17 by 324 and print the result

In [7]:
a=17
b=324

print(a*b)

5508

In [9]:
a=17
b=324
result = a*b

print(result)

5508

In [10]:
print(17*324)

5508

> Multiply 17 by 324 and raise 3 to the power 9. Print both results in one line.

In [11]:
print("17*324 =", 17*324, " --- 3**9 =", 3**9)

17*324 = 5508  --- 3**9 = 19683

You can also print text in python.
- `string` is a separate data type.
- And set of letters, numbers, etc. surrounded by quotes (`'` or `"`)
- `\n` is a line break sign that you can use inside the string (it will not be printed)

In [12]:
print('My name is Ann') # I print the string
print("My name is Ann") # I print the same string

My name is Ann
My name is Ann

In [17]:
# The string below will be printed on three lines
print('\nRoses are red, \nViolets are blue, \n...')

Roses are red,
Violets are blue,
...

> Print your full name

In [18]:
print("Ivan Ivanov")

Ivan Ivanov

> Print your full name in the followong format:
>
> `Surname: Ivanov`
>
> `Name: Ivan`

In [19]:
print("Surname: Ivanov \nName: Ivan")

Surname: Ivanov
Name: Ivan

In [20]:
print("Surname: Ivanov")
print("Name: Ivan")

Surname: Ivanov
Name: Ivan

In [22]:
Surname = "Ivanov"
Name = 'Ivan'

print('Surname:', Surname, "\nName:", Name)

Surname: Ivanov
Name: Ivan

In [23]:
print(f"Surname: {Surname} \nName: {Name}")

Surname: Ivanov
Name: Ivan

What will happen if we sum up two string?

In [24]:
print('1' + '2')
print(1 + 2)

12
3

**Be carefull**

- `1` is a number
- `'1'` is a string
- You can add object of the **same** type.
  > `"ap"` + `"ple"` = `"apple"`

In [25]:
print("ap" + "ple")

apple

In [26]:
print(10 + 5)  # print the number
print('10' + '5')  # print the string
print(str(10) + str(5))  # convert numbers to strings and print the result

15
105
105

## Task 3.2

The cell below contains and error.
* Run the cell
* See where the error is
* Correct the code and run it

In [1]:
print('My name is' + ' John')
print('Today is my birthday')
print('My age is ' + 43)

My name is John
Today is my birthday

TypeError: can only concatenate str (not "int") to str